[Desktop Entry]
Type=Application
Name=Branchy
Exec=io.FuriOS.StkTool
Icon=io.FuriOS.StkTool
Terminal=false
Type=Application
Categories=Development;Settings;
StartupNotify=true
Keywords=stktool;furios;update;beta;feature;test;
NoDisplay=true
