[Desktop Entry]
Type=Application
Name=StkTool
Exec=io.furios.StkTool
Icon=io.furios.StkTool
Terminal=false
Type=Application
StartupNotify=true
Keywords=stktool;furios;modem
NoDisplay=true
